*, html, body{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
  appearance: none;
}
body{
  background-color: rgb(84, 83, 83);
  font-family: "Poppins", sans-serif;
}

.container{
  max-width: 1200px;
  padding:0 60px;
  margin:0 auto;
  
}


